@media (max-width: 768px) {
    .uyeOl{
        margin-bottom: 5px
    }

}
@media (min-width: 576px) {
    .sonEklenenler .sagKisim a{
        padding: 0 7px
    }
    .sonEklenenler .sagKisim{
        padding: 0 23px
    }    

}

@media (min-width: 768px) {
    .uyeOl{
        margin: 0 5px
    }
    .sonEklenenler .sagKisim a{
        margin-bottom: 17px
    }
    .bolumBaslik h6{display: inline-block!important}

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}