@media (max-width: 768px) {
    .uyeOl{
        margin-bottom: 5px
    }

}
@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .uyeOl{
        margin: 0 5px
    }
    .sonEklenenler section a{
        padding: 0 7px
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}